.container-big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-card-image > img {
  width: 100%;
}

.big-card-title {
  margin-top: 2%;
}

.big-card-title > a {
  text-decoration: none;
}

.big-card-text {
  margin-top: 2%;
}

.big-card-text > p {
  color: rgb(175, 174, 174);
  text-align: justify;
}
