.container-small-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 2%;
}

.small-card-image {
  width: 50%;
}

.small-card-image > img {
  width: 100%;
}

.small-card-title {
  width: 50%;
  margin-left: 2%;
}

.small-card-title > a {
  text-decoration: none;
}

.small-card-title > p {
  margin-bottom: 4%;
  font-size: x-small;
}
