.home-title > h1 {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  font-size: 60px;
}

.home-content {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-big-card {
  width: 50%;
  margin-left: 2%;
}

.home-small-card {
  width: 50%;
  margin-left: 2%;
}
